name: PROD CI-CD
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches:
      - main

jobs:
  PROD-CI-CD:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel CLI
        run: npm install --global vercel

      - name: Build main nest application
        run: |
          npm install
          CI=false npm run build

      - name: Build client application
        working-directory: client
        run: |
          npm install
          CI=false npm run build

      - name: Copy Dependencies to build
        run: |
          cp -r ./package.json dist

      - name: Move client build output to server dist directory
        run: |
          mv client/out dist/client

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Cleanup
        run: |
          cd .vercel/output/functions/dist/main.js.func/dist
          npm uninstall @openzeppelin/contracts @nestjs/cli @nestjs/schematics @nestjs/testing @types/express @types/node concurrently source-map-support ts-loader ts-node tsconfig-paths typescript

      - name: Deploy Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
