name: PROD CI-CD
env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
on:
  push:
    branches:
      - main

jobs:
  PROD-CI-CD:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Vercel CLI
        run: npm install --global vercel

      - name: Build server application
        run: |
          npm install --prefix apps/server
          CI=false npm run build --prefix apps/server

      - name: Build client application
        run: |
          npm install --prefix apps/client
          CI=false npm run build --prefix apps/client

      - name: Build Movement
        run: |
          mkdir dist
          cp -r apps/server/package.json dist
          cp -r apps/server/dist/. dist
          mv apps/client/out dist/client

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}

      - name: Cleanup
        run: |
          cd .vercel/output/functions/dist/main.js.func/dist
          npm uninstall @nestjs/cli @nestjs/schematics @nestjs/testing @types/express @types/node concurrently source-map-support ts-loader ts-node tsconfig-paths typescript

      - name: Publish Project Artifacts to Vercel
        run: vercel deploy --prebuilt --prod --token=${{ secrets.VERCEL_TOKEN }}
